# Operating System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment files
.env

# Logs
*.log

# Node
node_modules/

# Python
venv/
__pycache__/
*.py[cod]

# Build folders
dist/
build/

# Machine Learning Models
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# Coverage
coverage/

# Temporary files
*.tmp
*.temp

# Cache
.cache/